:root {
  --titles-bg-color: rgb(6, 44, 80);
  --header-container-bg-color: rgb(0, 102, 204, 0.597);
  --titles-font-size: 0.9rem;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  font-size: 25px; 
}
h1, h2, h3 {
  margin: 0;
}

body{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to right bottom, rgba(236, 182, 245, 0.547) , rgba(246, 233, 144, 0.499) 70%);
  height: fit-content;
  display: flex;
  justify-content: center;
}
/*----------------------------------- Global Rules ---------------------------------*/
.body_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem auto;
  width: 100%;
  gap:2rem;
  flex-wrap: wrap;
}
#root {
  max-width: 1500px;
  margin: 0 ;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  /* Add your responsive styles here */
  .body_container{
    flex-direction: column;

}
}
.left_side_of_body{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.right_side_of_body{
  height: 29.7cm;
  width: 21cm; 
  margin: 1rem; 
  background-color: #fff; 
  border: 1px solid #000; 
  box-shadow: 0px 0px 0.2rem rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.general_forms_container{
  display: flex;
  flex-direction: column;
  width: 20rem;
  border: 0.01rem solid rgb(45, 44, 44);
  border-radius: 0.3rem;
  margin: 1rem; 
}
.general_forms_button{
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content:space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 0.3rem;
  padding: 0.5rem 0.5rem 0.5rem 0.8rem;
  border: 0rem;
  background-color:#a29768b7; 
  color: white;
  font-size: 1.5rem;  
  transition: border-radius 1.3s  ease-in-out;
}
.general_forms_button:hover{
  background-color:#726a47c8;
}
.general_forms_button.active{
  border-radius: 0.3rem 0.3rem 0rem 0rem;
  transition: border-radius 0.3s  ease-in-out;
  border-bottom: 0.01rem solid rgb(45, 44, 44);
}
.general_forms_button img.active{
  transform: rotate(180deg);
}
.imgChev{
  width: 10%; 
  height: 50%;
}
.title_forms{
  font-size: 1rem;
  padding: 0rem 0.3rem 0.1rem 0.1rem ;
  font-weight: 700;
}
.forms_header{
  font-size: 1rem;
  font-weight: 700;
}
label{
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.1em;
}
input, textarea{
  font-size: 0.9rem; 
  padding: 0.1rem;
  margin :0.2rem 0rem 0rem 0.2rem;
  border:0;
  border-radius: 0.2rem;
  width: 100%;
}
input:focus{
  outline: none;
}
input:valid{
  border: 0.1rem solid rgb(18, 164, 18);
}
input:invalid{
  border: 0.1rem solid rgb(245, 56, 23);
}

input[name="professionalDescription"], input[name="academicDescription"],input[name="graduationDate"] {
  border: none; 

}
textarea:focus,[name="professionalDescription"]:focus, input[name="academicDescription"]:focus, input[name="graduationDate"]:focus{
  outline: #000 solid 0.1rem;
}
textarea{
  resize: none;
  min-height: 4rem;
  
}


.label_input_container{
  display: flex;
  padding: 0.8rem 1.8rem 0rem 1rem;
  flex-direction: column;
  align-items: flex-start;
}
  .submit_forms_button{
    display: flex;
    justify-content: flex-start;
    margin: 1rem;
    margin-bottom: 0rem;
  }
.submit_button{
  background-color:#6acde3;
  color:white;
  font-size: 1em;
  font-weight: 700;
  border-radius: 0.2em;
  padding: 0.5rem 0.8em 0.5em 0.8em;
  margin-bottom: 0.5rem;
  border: none;
  transition: background-color 0.3s, transform 0.3s;
}
.submit_button:hover{
  cursor: pointer;
  background-color:#5cb8cd;
}
.submit_button:active {
  background-color: #3c8292;
  transform: scale(0.9);
}
.accordion_toggle{
  height: fit-content;
  opacity:0;
  background:#efe1a1b7;
  transition: 
  opacity 0.3s ease-in-out, 
  height 0.3s 0.3s ease-in-out;
  overflow: hidden;
}
.animated{
  opacity:1;
  transition: 
  height 0.3s ease-in-out,
  opacity 0.3s 0.1s ease-in-out;
  padding: 0.5rem 0rem 0rem 0rem;
  height: fit-content !important;
  border-bottom: 0.05rem solid black;
}
.general_forms_container .accordion_toggle.animated:last-child{
  border-bottom:none;
  border-radius: 0.3rem;
}

 
.delete_forms_button, .another_forms_button{
  background-color: transparent;
  border:0.15rem dashed rgb(194, 45, 45) ;
  font-size: 0.8rem;
  color: red;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.3rem 0.4rem 0.3rem 0.4rem;
  font-weight: 600;
  width: 7rem;
 
}
.another_forms_button{
  background-color: transparent;
  border:0.15rem dashed rgb(51, 109, 190);
  color: rgb(51, 109, 190) ;
  
}
.delete_forms_button:hover{
  color: darkred;
  border:0.15rem dashed darkred;
}
.another_forms_button:hover{
  color: rgb(13, 47, 95);
  border:0.15rem dashed rgb(13, 47, 95) ;
}
.bottom_buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


/* -------------------------------- cv BUILDER -------------------------------------------------- */
/*--------------------------------- Beginning Header --------------------------------------------------- */

.header_container{
  text-align: center;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: var(--header-container-bg-color);
  font-size: 1rem;
}
.contact_info {
  font-size: 0.6rem;
  list-style: none;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.6rem 1rem 0.4rem 1rem;
  flex-wrap: wrap;
  align-items: center;

}
.contact_info li {
  flex: 1; 
  text-align:center;
  max-width: fit-content;
  margin: 0rem 0.5rem 0rem 0.5rem;
  font-size: 0.7rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* ------------------------- End Header -------------------------*/
.individual_education_section, .professional_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top:0.4rem 0rem 0.5rem 0rem;
  padding-left: 0.1rem;
}
h2 {
  font-size: var(--titles-font-size);
  color: var(--titles-bg-color);
  padding-bottom: 0rem;
}
h3{
  padding-top:0.2rem ;
}

.education_container ,.experience_container{
  font-size: calc(var(--titles-font-size) * 0.7);
  width: 100%;
  border-top: 0.1rem solid var(--titles-bg-color);
}

#education, #experience{
  display: flex;
  flex-direction: column;
  padding: 0rem 1.5rem 0.5rem 1.5rem;
  align-items: flex-start;
}

.education_details, .professional_details {
  list-style: none;
  padding: 0.1rem 0.4rem 0rem 0.2rem;
  margin: 0rem;
  width: 95%;
  
}
.education_degree, .professional_company {
  font-style: italic;
  font-size: calc(var(--titles-font-size) * 0.7);
}
.degree_and_graduationDate, .company_and_dates{
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.1rem;
  list-style: none;
}
.company_and_dates{
  display: flex;
  align-items: center;
}


.education_graduation, .professional_location, .professional_dates {
  color: #555;
}
.professional_description, .education_description {
  margin-top: 0.1rem;
  padding: 0.2rem;
  margin-top: 0rem;
  
}
.professional_details  .professional_description, .education_details .education_description{
  font-size: calc(var(--titles-font-size) * 0.6);
}
.bullet_point:not(:empty)::before {
  content: "\2022"; /* Unicode character for a black bullet (•) */
  color: black; /* Color of the bullet point */
  margin-right: 5px; /* Spacing between the bullet point and the text */
}
