:root {
  --titles-bg-color: rgb(6, 44, 80);
  --header-container-bg-color: rgb(0, 102, 204, 0.597);
  --titles-font-size: 0.9rem;
}
#root {
  max-width: 1280px;
  margin: 0 ;
  padding: 2rem;
}
html {
  font-size: 25px; /* Set the root font size to 10px (adjust as needed) */
  margin: 0;
}
h1, h2, h3 {
  margin: 0;
}

/*----------------------------------- Global Rules ---------------------------------*/
.body_container{
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0;
}
.left_side_of_body{
  height: 100vh;
  width: 35%;
}

.general_forms_container{
  display: flex;
  flex-direction: column;
  width: fit-content;
  border: 1px solid black;
  border-radius: 0.3rem;
  margin: 2rem; 
}
.general_forms_button{
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content:space-between;
  align-items: center;
  cursor: pointer;
}
.general_forms_button img.active{
  transform: rotate(180deg);
}
.imgChev{
  width: 5%; 
  height: 40%;
}
.title_forms{
  font-size: 1rem;
  padding: 0rem 0.3rem 0.1rem 0.1rem ;
  font-weight: 700;
}
.forms_header{
  font-size: 1rem;
  font-weight: 700;
}
label{
  font-weight: 500;
  font-size: 0.8rem;
}
input{
  font-size: 0.6rem; 
}
.label_input_container{
  display: flex;
  padding: 0.8rem 1.8rem 0rem 0.8rem;
  flex-direction: column;
  align-items: flex-start;
}
  .submit_forms_button{
    display: flex;
    justify-content: flex-start;
    margin: 1rem;
    margin-bottom: 0rem;
  }
  .submit_button{
    font-size: 0.8em;
    border-radius: 0.2em;
    padding: 0.3rem 0.6em 0.3em 0.6em;
    font-weight: 500;
  }
  .accordion_toggle{
    height: fit-content;
    opacity:0;
    transition: 
    opacity 0.3s ease-in-out,
    height 0.3s 0.3s ease-in-out;
    overflow: hidden;
  }
  .animated{
    opacity:1;
    transition: 
    height 0.3s ease-in-out,
    opacity 0.3s 0.3s ease-in-out;
    padding: 0.5rem;
  }
  .forms{
    padding-bottom: 0.5rem;
  }
  .add_another_forms_container{
    color: #c51010;
    margin-right: 0.5rem;
  }
  .delete_forms_container{
    color: aquamarine;
    margin-right: 0.5rem; 
  }
.delete_forms_button, .another_forms_button{
  background-color: transparent;
  border:0.1rem solid rgb(194, 45, 45) ;
  font-size: 0.8rem;
  color: red;
  cursor: pointer;
}
.another_forms_button{
  background-color: transparent;
  border:0.1rem dashed rgb(51, 109, 190) ;
  color: rgb(51, 109, 190) ;
  display: flex;
}
.delete_forms_button:hover{
  color: darkred;
}
.another_forms_button:hover{
  color: rgb(13, 47, 95);
}
.bottom_buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}


/* -------------------------------- cv BUILDER -------------------------------------------------- */
/*--------------------------------- Beginning Header --------------------------------------------------- */
.right_side_of_body{
  width: 21rem; /* A4 width in rem units (210mm) */
  height: 29.7rem; /* A4 height in rem units (297mm) */
  margin: 0 auto; /* Center the container horizontally on the page */
  background-color: #fff; /* Set a background color if needed */
  border: 1px solid #000; /* Add a border if desired */
  box-shadow: 0px 0px 0.2rem rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}
.header_container{
  text-align: center;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: var(--header-container-bg-color);
  font-size: 0.7rem;
}
.contact_info {
  font-size: 0.6rem;
  list-style: none;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:0.2rem;
  flex-wrap: wrap;

}
.contact_info li {
  flex: 1; 
  text-align:center;
  max-width: fit-content;
}
.contact_info li i {
  display: flex;
  justify-content: center;

}
/* ------------------------- End Header -------------------------*/
.individual_education_section, .professional_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top:0.4rem 0rem 0.5rem 0rem;
  padding-left: 0.1rem;
}
h2 {
  font-size: var(--titles-font-size);
  color: var(--titles-bg-color);
  padding-bottom: 0.1rem;
}
.education_container{
  font-size: calc(var(--titles-font-size) * 0.7);
}

#education, #experience{
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem 0.5rem 1rem;
  align-items: flex-start;
}

.education_details, .professional_details {
  list-style: none;
  padding: 0.1rem 0rem 0rem 0.2rem;
  margin: 0rem;
}
.education_degree, .professional_company {
  font-style: italic;
  font-size: calc(var(--titles-font-size) * 0.7);

}
.education_graduation, .professional_location, .professional_dates {
  color: #555;
}
.professional_description, .education_description {
  margin-top: 0.1rem;
  padding: 0.2rem;
  margin-top: 0rem;
  
}
.professional_details  .professional_description, .education_details .education_description{
  font-size: calc(var(--titles-font-size) * 0.6);
}
.bullet_point:not(:empty)::before {
  content: "\2022"; /* Unicode character for a black bullet (•) */
  color: black; /* Color of the bullet point */
  margin-right: 5px; /* Spacing between the bullet point and the text */
}
